.container {
  padding:          15px;
  background-color: hsl(28, 16%, 68%);
  width:            500px;
  height:           500px;
  border-radius:    6px;
  box-sizing:       border-box;
  position:         relative;
}
