@import "../../variables.scss";

.Grid {
  position:        absolute;
  z-index:         1;
  display:         flex;
  flex-flow:       column nowrap;
  justify-content: space-between;
  @include grid-size($grid, $space);

  .row {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: space-between;
    align-items:     center;
  }

  .cell {
    @include cell-size($dimensions, $grid, $space);
    border-radius:    1px;
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}


