@import "../../variables.scss";

.Layout {
  width:  500px;
  margin: 0 auto;
}

.Description {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  @include description;
  color:           $color-text-secondary;
  margin-bottom:   8px;
}

.Title {
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: space-between;
  align-items:     center;

  > h1 {
    @include md-display-4;
    margin: 0;
  }

  .scores {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    &:first-child {
      margin-right: 8px;
    }
  }

}
