@mixin clear-after {
  &:after {
    content: "";
    display: block;
    clear:   both;
  }
}

.Layout {
  width:  500px;
  margin: 0 auto;
}

.Description {
  @include clear-after;
  color:     #776e65;
  font-size: 18px;
  > p {
    line-height:   42px;
    margin-bottom: 0;
    float:         left;
  }

  button { float: right; }
}

.Title {
  @include clear-after;

  > h1 {
    font-size:   80px;
    font-weight: bold;
    margin:      0;
    display:     block;
    float:       left;
  }

  .scores {
    float:      right;
    text-align: right;
  }
}
