@import "../../variables.scss";

.Tile {
  height:        115px;
  width:         115px;
  line-height:   115px;
  position:      absolute;
  border-radius: 1px;
  z-index:       10;

  .inner {
    @include md-shadow(1);
    color:       $color-text-secondary;
    text-align:  center;
    font-weight: 400;
  }
}

@mixin inner-color($color) {
  .inner {
    color: $color;
  }
}

@mixin inner-font-size($size) {
  .inner {
    font-size: $size;
    @media screen and (max-width: $screen-sm-min) {
      font-size: ($size - 20);
    }
  }
}

.value-2 {
  @include inner-font-size(65px);
  @include inner-color($color-text-primary);
  background-color: $md-blue-300;
}

.value-4 {
  @include inner-font-size(65px);
  @include inner-color($color-text-primary);
  background-color: $md-blue-500;
}

.value-8 {
  @include inner-font-size(65px);
  @include inner-color($color-text-primary);
  background-color: $md-orange-400;
}

.value-16 {
  @include inner-font-size(55px);
  background-color: $md-orange-600;
}

.value-32 {
  @include inner-font-size(55px);
  background-color: $md-orange-800;
}

.value-64 {
  @include inner-font-size(55px);
  @include inner-color($color-text-primary);
  background-color: $md-purple-400;
}

.value-128 {
  @include inner-font-size(45px);
  background-color: $md-purple-600;
}

.value-256 {
  @include inner-font-size(45px);
  background-color: $md-purple-800;
}

.value-512 {
  @include inner-font-size(45px);
  @include inner-color($color-text-primary);
  background-color: $md-light-green-500;
}

.value-1024 {
  @include inner-font-size(35px);
  @include inner-color($color-text-primary);
  background-color: $md-light-green-500;
}

.value-2048 {
  @include inner-font-size(35px);
  @include inner-color($color-text-primary);
  background-color: $md-pink-500;
}

.value-super {
  @include inner-font-size(30px);
  @include inner-color($color-text-primary);
  background-color: $md-lime-500;
}
