@import "../../variables.scss";

@mixin score-children {
  margin:          0;
  justify-content: center;
  text-align:      center;
}

.Score {
  @include md-shadow(2);
  padding: 8px 16px;
  flex-flow:        column nowrap;
  justify-content:  center;
  align-content:    space-around;
  background-color: $color-primary-lighter;

  .title, .value {
    margin:          0;
    justify-content: center;
    text-align:      center;
  }

  .title {
    @include score-children;
    @include font-size(13px);
    font-weight:    500;
    color:          $color-text-secondary;
    text-transform: uppercase;
    margin-bottom:  4px;
  }

  .value {
    @include score-children;
    @include md-display-1;
    @include font-size(25px);
  }

  & + .Score {
    margin-left: 8px;
  }
}
