@import '../variables.scss';

@mixin tile-inner($chars) {
  @if $chars >= 2 {
    .tile-inner {
      color: rgba(256, 256, 256, .80);
    }
  } @else {
    .tile-inner {
      color: rgba(0, 0, 0, .50);
    }

  }
  @if $chars <= 2 {
    .tile-inner {
      font-size: 55px;
      @media screen and (max-width: $screen-sm-min) {
        font-size: 35px;
      }
    }
  }
  @if $chars == 3 {
    .tile-inner {
      font-size: 45px;
      @media screen and (max-width: $screen-sm-min) {
        font-size: 25px;
      }
    }
  }
  @if $chars == 4 {
    .tile-inner {
      font-size: 35px;
      @media screen and (max-width: $screen-sm-min) {
        font-size: 15px;
      }
    }
  }
  @if $chars == 5 {
    .tile-inner {
      font-size: 30px;
      @media screen and (max-width: $screen-sm-min) {
        font-size: 10px;
      }
    }
  }
}

@mixin tile-shadow($a, $b) {
  .tile-inner {
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, $a), inset 0 0 0 1px rgba(255, 255, 255, $b);
  }
}

.game {
  padding:          15px;
  background-color: hsl(28, 16%, 68%);
  width:            500px;
  height:           500px;
  border-radius:    6px;
  box-sizing:       border-box;

  .grid-container {
    position: absolute;
    z-index:  1;

    .grid-row {
      height:        106.25px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .grid-cell {
      float:            left;
      width:            106.25px;
      height:           106.25px;
      background-color: hsla(0, 0%, 100%, 0.20);
      border-radius:    3px;
      margin-right:     15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tile-container {
    position: absolute;
    z-index:  2;

    .tile {
      height:        107px;
      width:         107px;
      line-height:   107px;
      position:      absolute;
      border-radius: 3px;

      .tile-inner {
        text-align:  center;
        font-weight: bold;
        font-size:   55px;
      }
      &.tile- {

        &2 {
          @include tile-inner(1);
          background-color: hsl(27, 37%, 89%);
        }
        &4 {
          @include tile-inner(1);
          background-color: hsl(27, 50%, 85%);
        }
        &8 {
          @include tile-inner(2);
          background-color: hsl(27, 89%, 66%);
        }
        &16 {
          @include tile-inner(2);
          background-color: hsl(20, 89%, 66%);
        }
        &32 {
          @include tile-inner(2);
          background-color: hsl(11, 89%, 66%);
        }
        &64 {
          @include tile-inner(2);
          background-color: hsl(11, 91%, 59%);
        }
        &128 {
          @include tile-shadow(.24, .14);
          @include tile-inner(3);
          background-color: hsl(45, 75%, 70%);
        }
        &256 {
          @include tile-shadow(.32, .19);
          @include tile-inner(3);
          background-color: hsl(45, 80%, 65%);
        }
        &512 {
          @include tile-shadow(.40, .23);
          @include tile-inner(3);
          background-color: hsl(45, 85%, 60%);
        }
        &1024 {
          @include tile-shadow(.48, .29);
          @include tile-inner(4);
          background-color: hsl(45, 90%, 55%);
        }
        &2048 {
          @include tile-shadow(.56, .33);
          @include tile-inner(4);
          background-color: hsl(40, 90%, 55%);
        }
        &super {
          @include tile-inner(5);
          background-color: hsl(45, 9%, 21%);
        }
      }
    }
    .tile-col- {
      &0 {
        left: 0;
      }
      &1 {
        left: 121px;
      }
      &2 {
        left: 242px;
      }
      &3 {
        left: 363px;
      }
    }

    .tile-row- {
      &0 {
        top: 0
      }
      &1 {
        top: 121px;
      }
      &2 {
        top: 242px;
      }
      &3 {
        top: 363px;
      }
    }

  }

}

.example {
  &-enter {
    opacity: 0.01;
    &-active {
      opacity:    1;
      transition: opacity 500ms ease-in;
    }
  }

  &-leave {
    opacity: 1;
    &-active {
      opacity:    0.01;
      transition: opacity 300ms ease-in;
    }
  }

}
