@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import "./variables.scss";

//noinspection CssInvalidPseudoSelector
:global {
  html {
    @include md-body-1;
    background-color: $color-bg-main;
    color:            $color-text-primary;
    font-family:      $font-family;
  }

  @include selection {
    background-color: $color-primary-lighter;
    text-shadow:      none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display:    block;
    height:     1px;
    border:     0;
    border-top: 1px solid $md-grey-400;
    margin:     1em 0;
    padding:    0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border:  0;
    margin:  0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }

  /*
   * Browser upgrade prompt
   * ========================================================================== */

  //noinspection CssInvalidPseudoSelector
  .browserupgrade {
    margin:     0.2em 0;
    background: $color-bg-main;
    color:      $color-text-secondary;
    padding:    0.2em 0;
  }

  /*
   * Print styles
   * Inlined to avoid the additional HTTP request:
   * http://www.phpied.com/delay-loading-your-print-css/
   * ========================================================================== */

  @media print {
    *,
    *:before,
    *:after {
      background:  transparent !important;
      color:       $md-black !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
      box-shadow:  none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre,
    blockquote {
      border:            1px solid $md-grey-500;
      page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows:  3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }

}


