.NewGameButton {
  background-color: #8f7a66;
  border-radius:    3px;
  border:           0 none;
  padding:          0 20px;
  text-decoration:  none;
  color:            #f9f6f2;
  height:           40px;
  display:          inline-block;
  text-align:       center;
}
